name: CI

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Check out source code
              uses: actions/checkout@v6

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true
                cache-dependency-glob: "uv.lock"

            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                python-version-file: "pyproject.toml"

            - name: Install Task
              uses: go-task/setup-task@v1

            - name: Install dependencies
              run: task setup

            - name: Cache pre-commit environment
              uses: actions/cache@v5
              with:
                path: ~/.cache/pre-commit
                key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}

            - name: Run linters
              run: task lint

            - name: Run tests
              run: task test
